!
! Xft
!

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!
! URxvt
!

URxvt.termName:             rxvt-unicode-256color
URxvt.intensityStyles:      true
URxvt.loginShell:           true
URxvt.cursorBlink:          true
URxvt.urgentOnBell:         true
URxvt.saveLines:            12000
URxvt.fading:		  	 	40
URxvt.override-redirect:    false

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.internalBorder:       5
URxvt.letterSpace:          0
URxvt.lineSpace:            0

URxvt.keysym.Home:          \033[1~
URxvt.keysym.End:           \033[4~
URxvt.keysym.KP_Home:       \033[1~
URxvt.keysym.KP_End:        \033[4~

URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt*font:                 xft:DejaVuSansMono Nerd Font:size=10
URxvt*scrollBar:            false
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
URxvt.secondaryScreen:      1
URxvt.secondaryScroll:      1
URxvt.secondaryWheel:       1

URxvt*perl-lib:             /usr/lib/urxvt/perl/
URxvt*perl-ext-common:      default,matcher,keyboard-select

URxvt.keysym.M-Escape:      perl:keyboard-select:activate

URxvt*urlLauncher:          x-www-browser
URxvt*matcher.button:       1
URxvt*matcher.pattern.1:    \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

!
! Color scheme
!

!special
*.foreground:   #f1ebeb
*.background:   [95]#272822
*.cursorColor:  #f1ebeb
! black
*.color0:       #48483e
*.color8:       #76715e
! red
*.color1:       #dc2566
*.color9:       #fa2772
! green
*.color2:       #8fc029
*.color10:      #a7e22e
! yellow
*.color3:       #d4c96e
*.color11:      #e7db75
! blue
*.color4:       #55bcce
*.color12:      #66d9ee
! magenta
*.color5:       #9358fe
*.color13:      #ae82ff
! cyan
*.color6:       #56b7a5
*.color14:      #66efd5
! white
*.color7:       #acada1
*.color15:      #cfd0c2

!
! Rofi
!

rofi.width: 50
rofi.location: 0
rofi.separator-style: solid
rofi.padding: 16
rofi.hide-scrollbar: true
rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c
